@{
    ViewData["Message"] = "Aplicação do AuvoChallenge em C#";
    ViewData["Title"] = "Home";
    ViewData["User"] = "Pietro Niero Roque";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["User"]</p>

<address>
    <strong> Mais informações: </strong> <a href="https://github.com/im-pokz"> Github </a>
</address>


